/* PROJECTS SECTION */

.projects-container {
    margin: 2vh 5vw;
    padding: 3.5vh 3vw;
    background-color: #213555;
    border: 1px solid #1a2a44;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5efe7
}

.projects-container header {
    text-align: center;
    font-size:clamp(18px, 5vw, 50px);
}

.projects-container p {
    text-align: center;
    line-height: 30px;
    font-size: clamp(14px, 1.5vw, 20px);
    padding-bottom: 20px;
}

.my-projects {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
}

.project-card {
    width: 30%;
    min-width: 250px;
    height: auto;
    padding: 20px;
    display: flex;
    background-color: #3e5879;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    border: 1px solid #364c69;
    border-radius: 4px;
    box-sizing: border-box;
    transition: transform .3s ease;
}

.project-img {
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1 / 1;
    background-color: white;
}

.project-card:hover {
    transform: scale(1.2);
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.skill-bar {
    width: 100%;
    min-width: 30%;
    flex: 1;
    max-width: 310px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    font-size: 10px;
}

.skill-bar .skill {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill .tooltip {
    visibility: hidden;
    width: 60px;
    position: absolute;
    left: 50%;
    bottom: 125%;
    transform: translateX(-50%);
    background-color: rgba(168, 36, 36, 0.226);
    color: #f5efe7;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    z-index: 9;
}

.skill:hover .tooltip {
    visibility: visible;
}

.skill:hover {
    color: black;
}

.skill.left {
    background-color: #5c6bc0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: none;
}

.skill.middle {
    background-color: #ef5350;
    border-radius: 0px;
    border-style: none;
}

.skill.right {
    background-color: #ffee58;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-style: none;
}

.skill.left.ttt {
    width: 60.5%;
}

.skill.middle.ttt {
    width: 26.8%;
}

.skill.right.ttt {
    width: 12.7%;
}

.skill.left.bib {
    width: 89%;
}

.skill.right.bib {
    width: 11%;
}

.skill.left.por {
    width: 75.4%;
}

.skill.right.por {
    width: 24.6%;
}

.skill.left.cal {
    width: 65%;
}

.skill.middle.cal {
    width: 19.5%;
}

.skill.right.cal {
    width: 15.5%;
}

.skill.left.tas {
    width: 82.9%;
}

.skill.middle.tas {
    width: 10%;
}

.skill.right.tas {
    width: 7.1%;
    font-size: 10px;
}

.skill.left.wea {
    width: 47.9%;
}

.skill.middle.wea {
    width: 36%;
}

.skill.right.wea {
    width: 16.1%;
}

.skill.left.rps {
    width: 60.4%;
}

.skill.middle.rps {
    width: 21.2%;
}

.skill.right.rps {
    width: 18.4%;
}

.skill.left.eas {
    width: 47.8%;
}

.skill.middle.eas {
    width: 29.6%;
}

.skill.right.eas {
    width: 22.6%;
}

.skill.left.tdl {
    width: 72.3%;
}

.skill.middle.tdl {
    width: 23.8%;
}

.skill.right.tdl {
    width: 3.9%;
    font-size: 8px;
}